* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    font-size: 18px;
}

header {

    background-color: rgb(245, 243, 214);
    display: flex;
    justify-content: space-around;
    height: 90px;
    align-items: center;
}

nav ul {
    display: flex;
    column-gap: 30px;
}

nav ul li a {
    color: rgb(9, 10, 12);
    text-transform: uppercase;
}

div#bannière {
    width: 100%;
    height: 60vh;
    background-color: blueviolet;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

div#bannière h1 {
    color: aliceblue;
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-bottom: 20px;
    word-spacing: normal;

}

div#bannière p {
    color: aliceblue;
    font-size: 20px;
    margin-bottom: 20px;
}

div#bannière a {
    border: 2px solid white;
    padding: 10px 30px;
    background-color: aliceblue;
    transition: 0.5;
    border-radius: 20px;
}

div#bannière a:hover {
    color: blue;
    padding: auto;
}

/* ABOUT */
section {
    padding: 110px 0;
}

section#about {
    background-color: #fafafa;
}

section .container {
    width: 80%;
    margin: auto;
}

.container .head {
    max-width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 20px;
}

.head h2 {
    font-size: 30px;
}

.head p {
    line-height: 30px;
    font-size: 20px;
    color: grey;
}

.head .line {
    background-color: rgba(0, 98, 185, 0.8);
    height: 5px;
    border-radius: 10px;
    width: 20px;
    margin: auto;
}


/* COMPETENCE */
.sous-container {
    display: flex;
    justify-content: space-between;
    /* background-color: rgb(211, 129, 22); */
}

.sous-container .connaissance {
    width: 45%;
    /* background-color: rgba(255, 0, 0, 0.834); */
}

.connaissance h3 {
    font-size: 25px;
    font-weight: 700;

}

.connaissance p {
    font-size: 20px;
    line-height: 30px;
    color: grey;

}

.connaissance .buttons {
    display: flex;
    margin-top: 30px;
    column-gap: 5px;
}

.buttons a {
    padding: 15px 40px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-weight: 800;
    font-size: 15px;
    letter-spacing: 2px;
    border-radius: 5px;
    background-color: rgba(0, 98, 185, 0.8);
}

.competence h3 {
    font-size: 25px;
    font-weight: 700;
}

.competence ul {
    display: flex;
    column-gap: 15px;
    row-gap: 20px;
    flex-wrap: wrap;
}


.competence ul li {
    background-color: rgba(128, 128, 128, 0.23);
    padding: 10px 25px;
    border-radius: 5px;
    color: grey;

}

.competence ul li:hover{
    background-color: gray;
    cursor: pointer;
}
.sous-container .competence {
    width: 45%;
    /* background-color: brown; */
}

/* PROJECT */

.connaissance img{
    width: 100%;
    border: 1px solid black;
}

#project  .competence{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

#project .competence p {
    line-height: 30px;
    font-size: 20px;
    color: grey;
}